body {
  padding: 30px;
  background-color: #aaa;
  font: 21px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container div{
  margin-top: 10px;
}
#session {
  border-bottom: 1px solid #000;
}
a {
  color: #00B7FF;
}
