<div class="m-sidebar {isopen? 'z-open': ''}" >
  <panel-group>
    <panel title='iplist'>
      {#list iplist as ip}
        <a href='http://{ip}'></a>
      {/list}
    </panel>
    <panel title='Qrcode'>
      <img src={qrcodeurl}>
      <h3>scan to load current page</h3>
    </panel>
    <panel title='folder'>
      <folder list={}></folder>
    </panel>
    <panel title='configure'>
      <label for="">
        <input type="text" class="checkbox">
      </label>
    </panel>
  </panel-group>
</div>